.feed-suggegtion {
  width: 100%;
  max-width: 320px;
  height: 100vh;
  @media screen and (max-width: 1000px) {
    display: none;
  }
  .suggegtion-container {
    max-width: 300px;
    width: 100%;
    .suggegtion-for-you {
      .suggegtion-for-you-in {
        span {
          font-weight: 600;
          font-size: 15px;
        }
      }
      .suggegtion-for-you-action {
        padding-right: 10px;
        a {
          color: var(--primary-text-color);
          cursor: pointer;
          font-size: 12px;
          line-height: 16px;
          margin: -2px 0 -3px;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }
    .suggegtion-for-you-container {
      margin-bottom: 25px;
    }
    .suggegtion-footer-link {
      flex-direction: column;
      .suggegtion-link-ul {
        li {
          display: inline-block;
          a.footer-link-text {
            &:after {
              content: "\00B7";
              margin: 0 0.25em 0 0.25em;
            }
          }
          &:last-child {
            a {
              &:after {
                content: "";
                margin: 0 0 0 0.25em;
              }
            }
          }
        }
      }
      .footer-link-text {
        color: var(--footer-link-color);
        font-size: 12px;
        font-weight: 400;
        text-transform: none;
        line-height: 16px;
      }
      .suggegtion-footer-copyright {
        display: block;
        width: 100%;
      }
    }
  }
  .suggegtion-fixed {
    position: fixed;
    top: calc(34px + var(--header-height));
  }
}
